body {
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
code {
	font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}
* {
	margin:0;
	padding:0
}
body,html {
	width:100%;
	height:auto;
	background:#dcdcdc;
	font-size:12px;
	font-family:Courier New,Courier,monospace,microsoft yahei
}
.edui-default .edui-editor {
	border:0!important
}
.edui-editor-iframeholder,.emreditor {
	height:100%
}
.emreditor {
	width:100%
}
.emreditor-content-box {
	padding-top:64px;
	width:100%;
	height:calc(100% - 90px);
	overflow:auto
}
.emreditor-readonly-content-box {
	padding-top:0
}
.emreditor-readonly-content-box .print-portrait {
	margin-top:-10px
}
.A4.sheet {
	width:1024px;
	min-height:1118px;
}
.A4.sheet.landscape{
	/* width: 280mm;
	min-height: 185mm;  253.3*/
	width: 1449px;
	min-height: 984px; 
}
.A4.sheet .page-header {
	display:none;
	margin-top:-12px;
	border-bottom:1px solid #000
}
.A4 .CodeMirror-wrap,.A4.sheet #ueditor.edui-default,.A4.sheet .edui-editor,.webpage {
	height:100%
}
.webpage {
	width:100%
}
.webpage.sheet .page-header {
	display:none;
	margin-top:-12px;
	border-bottom:1px solid #000
}
.webpage.sheet #ueditor.edui-default {
	height:100%
}
.webpage.sheet.print-landscape {
	margin-top:-10px;
	padding:0;
	width:1118px;
	min-height: 200mm
}
.webpage.sheet.print-portrait {
	margin-top:-10px;
	padding-top:0;
	padding-bottom:0;
	width: 1024px;
	min-height:1118px
}
@media screen {
	.sheet {
		margin:0 auto;
		background-color:#fff;
		overflow:visible;
		box-shadow:0 1px 6px rgba(0,0,0,.2),1px 4px rgba(0,0,0,.2);
	}
	.sheet.print-portrait {
		padding:0;
		overflow:hidden
	}
}
.btns-wrapper {
	position:fixed;
	top:31px;
	right:10px;
	z-index:1001
}
.btns-wrapper .emr-btn {
	padding:3px 8px;
	color:#fff;
	background-color:#1dc5aa;
	border:none;
	border-radius:4px;
	cursor:pointer
}
.btns-wrapper .emr-btn:focus {
	border:none
}
.emreditor-toolbar {
	position:fixed;
	left:0;
	z-index:1000;
	width:100%;
	margin:0 auto;
	background-color:#f1f1f1;
	top:0
}
.tab-list {
	width:100%
}
input[type=radio] {
	width:0!important;
	height:0!important
}
.tab-list-item {
	display:inline-block;
	padding:3px 15px;
	margin-top:2px;
	margin-left:4px;
	margin-right:4px;
	border-bottom:none;
	cursor:pointer
}
.tab-list-item:hover {
	background:#fff
}
.tab-list-item.head {
	background:#1dc5aa;
	color:#fff;
	padding:4px 15px;
	font-size:13px;
	font-weight:600;
	border:none;
	margin:0;
	cursor:default
}
.tab-list-item.active {
	background-color:#fff
}
.toolbar-content {
	width:100%
}
.toolbar-content-item {
	width:calc(100% - 12px);
	display:none;
	padding:6px
}
.toolbar-content-item.active {
	display:block;
	background-color:#fdfdfd;
	border-bottom:1px solid #f3f3f3
}
.edui-default .edui-toolbar .edui-icon {
	background-position:50%;
	background-repeat:no-repeat
}
.edui-default .edui-toolbar .edui-button.edui-for-input-1 .edui-icon {
	width:30px!important
}
.edui-default .edui-toolbar .edui-button.edui-for-checkbox-1 .edui-icon {
	width:20px!important
}
.edui-default .edui-toolbar .edui-button.edui-for-select-1 .edui-icon,.edui-default .edui-toolbar .edui-button.edui-for-table-cell-width .edui-icon,.edui-default .edui-toolbar .edui-button.edui-for-tabs-1 .edui-icon,.edui-default .edui-toolbar .edui-button.edui-for-textarea-1 .edui-icon {
	width:30px!important
}
.edui-default .edui-toolbar .edui-button.edui-for-table-cell-editable .edui-icon {
	width:30px!important;
	background-size:85%
}
.edui-default .edui-toolbar .edui-button.edui-for-settingsplitrow .edui-icon {
	width:30px!important;
	background-size:65%
}
.edui-default .edui-toolbar .edui-button.edui-for-table-fileds .edui-icon,.edui-default .edui-toolbar .edui-button.table-cell-editable .edui-icon {
	width:30px!important
}
.edui-default .edui-toolbar .edui-button.edui-for-table-setting-selector .edui-icon {
	width:20px!important;
	background-size:90%
}
.edui-default .edui-toolbar .edui-button.edui-for-emrbutton-1 .edui-icon {
	width:20px!important;
	background-size:100%
}
.edui-default .edui-toolbar .edui-button.edui-for-remarksetting .edui-icon {
	width:20px!important;
	background-size:90%
}
